.input{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: rgb(20, 0, 100);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6 ease;
}

input.blue{
    background-color: var(--primary-color);
    border:1px solid; 
    padding: 11px 21px; 
    vertical-align: middle; 
    color:white;
    text-decoration:none;
}

div > div {
    display: inline-block;
}

input.green{
    background-color: #13ce66 ;
    font-size: 1rem;
    padding: 11px 21px;
    transition: box-shadow .6 ease;
    text-align: center;
}

input.red{
    background-color: #ff4949;
    font-size: 1rem;
    padding: 11px 21px;
    margin: 0 15px;
    transition: box-shadow .6 ease;
}

input.yellow{
    background-color: gold;
    font-size: 1rem;
    transition: box-shadow .6 ease;
}



.input:hover{
    box-shadow: inset 200px 0 0 rgb(69, 69, 69);
}