.records{
    width: 100%;
    user-select: none ;
    text-align: left;
}

.records th{
    height: 40px;
    background-color: var(--primary-color);
    padding-left: 15px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    
    
}

.records td{
    height: 50px;
    padding-left: 20px ;
    
}


.records td:last-child{
    padding: 0;
    min-width: 100px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}